<!-- <body>
  <header>
    <h1>Welcome, Username</h1>
  </header>
  <main>
    <div class="account-card">
      <img src="https://assets.codepen.io/10771232/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1691762280&width=80" alt="User Profile">
      <h2>Avinash</h2>
      <p>Email: avinash@gmail.com</p>
      <button class="edit-button">Edit Details</button>
    <button class="logout-button ml-1" >Logout</button>
    </div>
  </main>
</body> -->

<section class="section profile bg-light-alt">
  <div class="container">
    <h2 class="heading">My Account</h2>
    <div class="row g-3">
      <div class="col-12">
        <div class="card shadow">
          <div class="row g-3">
            <div class="col-12">
              <div class="profile-img">
                <div class="bg"></div>
                <div class="pro-img">
                  <img src="./static/images/profile.jpg" alt="Profile" />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text">
                <h4>Member Information</h4>
                <p><span>Email</span> <a href="#">email@gmail.com</a></p>
                <p><span>Password</span> **********</p>
                <p>
                  Your email address is not confirmed. Lorem ipsum dolor sit
                  amet consectetur adipisicing elit. Voluptas, aspernatur
                  aliquid maxime fugit officia placeat!
                  <a href="#">Resend Email</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card shadow">
          <h4>My Discounts</h4>
          <div class="row g-3">
            <div class="col-lg-9 col-md-8 col-sm-12">
              <input type="text" class="form-control" />
            </div>
            <div class="col-8 col-lg-3 col-md-4">
              <a href="#" type="button" class="button w-100"
                >Add Promotion Code</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
