<!-- <h2>Hello</h2> -->

<div class="main-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="log-main-box">
          <div class="head-box">
            <h4>Forget password?</h4>
            <h6 class="information-text">
              Enter your registered email to reset your password.
            </h6>
          </div>
          <div class="log-box">
            <form [formGroup]="myForm" >

              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <div class="input-field" [class.error]="
                    myForm.controls['password'].dirty &&
                    myForm.hasError('required', 'password')
                  ">
                  <input type="text" placeholder="Enter Password" formControlName="password"
                    class="form-control cus-form"  />
                </div></div>

                <small *ngIf="
                    myForm.controls['password'].dirty &&
                    myForm.hasError('required', 'password')">*Password is require*</small>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                <input type="text" placeholder="Enter Confirm Password" formControlName="confirmPassword"
                  class="form-control cus-form" id="exampleInputEmail1" aria-describedby="emailHelp" />
              </div>
              <div class="text-center">
                <button type="submit" (click)="reset()" class="btn cus-btn">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
          <div class="row py-3">
            <div class="col-6">
              <a routerLink="/login">Already have an account? Login!</a>
            </div>
            <div class="col-6 text-end">
              <a routerLink="/register">Create Your Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
