<div class="main-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="log-main-box">
          <div class="head-box">
            <h4>Forget password?</h4>
            <h6 class="information-text">
              Enter your registered email to reset your password.
            </h6>
          </div>
          <div class="log-box">
            <form [formGroup]="myForm" (ngSubmit)="reset(myForm)">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control cus-form"
                  id="email"
                />
                <div
                  *ngIf="
                    myForm.get('email')?.invalid &&
                    (myForm.get('email')?.dirty || myForm.get('email')?.touched)
                  "
                >
                  <div
                    class="error-message"
                    *ngIf="myForm.get('email')?.hasError('required')"
                  >
                    Email is required.
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" [disabled]="myForm.invalid" class="btn cus-btn">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
          <div class="row my-2">
            <div class="col-6">
              <a routerLink="/login">Already have an account? Login!</a>
            </div>
            <div class="col-6 text-end">
              <a routerLink="/register">Create Your Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
