<app-navbar></app-navbar>
<section>
  <div class="container my-5">
    <div class="row main-box" >
      <!-- <div class="col-md-6 col-12">
        <div class="main-form-box">
          <form [formGroup]="ngForm" (ngSubmit)="placeOrder(ngForm)">
            <div class="mb-3">
              <label class="form-label">Amount</label>
              <input type="number" class="form-control" formControlName="amount" />
            </div>
            <div class="mb-3">
              <label class="form-label">Receipt</label>
              <input type="text" class="form-control" formControlName="reciept" />
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input type="text" class="form-control" formControlName="description" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Place Order</button>
            </div>
          </form>
        </div>
      </div> -->
      <div class="col-12" >
        <div class="table-box  table-responsive" >
          <table class="table" >
            <thead >
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of images;index as i;" >
              <tr>
                <td>
                  <div class="d-flex">
                    <div class="flex-shrink-0 tbl-img">
                      <img [src]="item.imageUrl" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      {{item.name}}
                      <p>{{item.collectionType}}</p>
                    </div>
                  </div>


                </td>
                <td class="price-c">${{item.price}}</td>
                <td>{{productDate}}</td>
                <!-- <td><button class="btn btn-danger">Remove</button></td> -->

                <div>
                  <button type="button" class="btn btn-primary" (click)="Order(item.price)">Buy Now</button>
                  <button type="button" class="btn btn-danger mx-2" (click)="remove()">Remove</button>
                </div>

              </tr>

            </tbody>
            <tfoot >
              <tr class="TotalAmount">
                <td >Total value:</td>
                <td >${{ getTotalPrice() }}</td>
                <td><button type="button" class="btn btn-primary" >Checkout</button></td>
              </tr>
            </tfoot>

          </table>
        </div>


      </div>
    </div>
  </div>
</section>
