

th {
  font-weight: 600;
}
.form-check-input{
  border-color:#ef693b;
  border-radius: 0!important;
}
.form-check-input:checked {
  background-color: #ef693b;
  border-color: #ef693b;
}
.form-check-input:focus {
   border-color: #ef693b;
   box-shadow: none;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color:#dbd7d7;
}
.tbl-img{
  position: relative;
  top:0;
  width: 50px;
  height: 50px;
}
.tbl-img img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-bottom: 1px solid blue;
  border-color: #dfdede;
}

.search-box{
position: relative;
top: 0;
}


.search-box i {
  position: absolute;
  top: 7px;
  left:9px;
  z-index: 1;
  color: #a7a1a1;
}
.serach-f{
  width: 100%;
  background: #fff;
  border-color:#fff;
  padding: 6px 30px;
}
.serach-f:focus{
  box-shadow: none;
  border-color:#fff;
}
.heading-main {
  background: #3e699f;
  padding: 10px;
  color: #fffdfd;
}
.price-c{
  color: green;
}


.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: end;
}

.page-link {
  position: relative;
  display: block;
  color: #333436;
  text-decoration: none;
  background-color: #fff;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 10px;
}
.page-link:hover {
  z-index: 2;
  color: #6c6f74;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #f89e52;
  border-color: #f89e52;
}
.page-link:focus {
  z-index: 3;
  color: #4b4d50;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: none;
}

.page-item:last-child .page-link {
  border-radius: 0!important;
}
.page-item:first-child .page-link {
  border-radius: 0!important;
}
th,td{
white-space: nowrap;
}
// .table-responsive{
//   float: right;
//   width: 50%;
// }
// .vertical {
//   border-left: 1px solid black;
//   height: 300px;
//   position:absolute;
//   left: 50%;
// }


/////adition added
.card{
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.center{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.center img{
text-decoration: none;
color: inherit;
border: none;
outline: none;
height: 162px;
width: 250px;
margin: 20px 0px;
}
h4,h6{
font-weight: 400;
}

.card-table{
position: relative;
display: flex;
flex-direction: column;
min-width: none;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 0.25rem;
}

.center .btn{
font-size: 14px !important;
margin-top: 20px !important;
font-weight: 400;
padding: 12px 72px;
border-radius: 3px !important;
}

.checkout-btn{
  display: flex;
  justify-content: end;
}
@media only screen and (max-width: 600px) {
  // .serach-f{
  //     width: 100%;
  //     background: #fff;
  //     border-color:#fff;
  //     padding: 6px 30px;
  // }
}


.main-box{
    border: 1px solid #cbcbcb;
  padding: 20px;
}
.TotalAmount{
  font-size: 1rem;
  font-weight:500;
}
//

