    <section class="section download-page">
      <div class="container">
        <div class="row g-3">
          <div class="col-lg-10 col-md-10 col-sm-12 mx-auto">
            <table class="table table-bordered table-responsive text-table">
              <tr>
                <td class="w-25">
                  <a href="#" class="button">Review Product</a>
                </td>
                <td class="w-75">
                  <p class="p-2">
                    <b>Please don't forget</b> rate and review any products that
                    you have purchased or download. It is in credible help to our
                    community of artists.
                  </p>
                </td>
              </tr>
            </table>
            <table class="table table-responsive table-bordered table-icon">
              <tr>
                <td>
                  <div class="row">
                    <div class="col-6">
                      <div class="icon-info">
                        <img src="/assets/images/icons/upload.png" alt="" />
                        <p>upload files</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="icon-info">
                        <img src="/assets/images/icons/folder.png" alt="" />
                        <p>add folder</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="icon-info">
                    <img src="/assets/images/icons/publish.png" alt="" />
                    <p>publish product</p>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-4">
                      <div class="icon-info">
                        <img src="/assets/images/icons/move.png" alt="" />
                        <p>move</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="icon-info">
                        <img src="/assets/images/icons/copy.png" alt="" />
                        <p>copy</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="icon-info">
                        <img src="/assets/images/icons/rename.png" alt="" />
                        <p>rename</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="icon-info">
                    <img src="/assets/images/icons/remove.png" alt="" />
                    <p>remove</p>
                  </div>
                </td>
              </tr>
            </table>
            <table class="table table-responsive table-bordered table-content">
              <thead>
                <th>
                  <div class="form-check star-icon">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                  </div>
                </th>
                <th>Name</th>
                <th>Price</th>
                <th>Date Added</th>
                <th>Review Status</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check star-icon">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                    </div>
                  </td>
                  <td>
                    <div class="name-info">
                      <div class="row">
                        <div class="col-3">
                          <img src="/assets/images/products/car.jpg" alt="" />
                        </div>
                        <div class="col-9">
                          <h5>Red Luxury Sedan</h5>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p>
                            <a href="#">Luxury Sedan Lorem ipsum dolor sit.</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>$800</td>
                  <td>Sep 09, 2023</td>
                  <td>Unrated</td>
                </tr>
                <!-- <tr>
                  <td>
                    <div class="form-check star-icon">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <i class="far fa-star"></i>
                    </div>
                  </td>
                  <td>
                    <div class="name-info">
                      <div class="row">
                        <div class="col-3">
                          <img src="/assets/images/products/car.jpg" alt="" />
                        </div>
                        <div class="col-9">
                          <h5>Red Luxury Sedan</h5>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p>
                            <a href="#">Luxury Sedan Lorem ipsum dolor sit.</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>$800</td>
                  <td>Sep 09, 2023</td>
                  <td>Unrated</td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check star-icon">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <i class="far fa-star"></i>
                    </div>
                  </td>
                  <td>
                    <div class="name-info">
                      <div class="row">
                        <div class="col-3">
                          <img src="/assets/images/products/car.jpg" alt="" />
                        </div>
                        <div class="col-9">
                          <h5>Red Luxury Sedan</h5>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                          <p><a href="#">Luxury Sedan Lorem, ipsum.</a></p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>$800</td>
                  <td>Sep 09, 2023</td>
                  <td>Unrated</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>


