<section class="footer">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-12">
        <div class="footer-log text-center">
          <img src="../../../assets/images/dashboard/logo2.png" alt="">
          <p>Talk to us</p>
          <a href="">contact@decentrawood.com</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="list">
          <h3>Company</h3>
          <ul>
            <li><a href="">Blog </a></li>
            <li><a href="">Events </a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Help Center </a></li>
            <li><a href="">Contact us </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 ">
        <div class="list">
          <h3>Social</h3>
          <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Youtube</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">Twitter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="list">
          <h3>Navigate</h3>
          <ul>
            <li><a href=""> Sell with us</a></li>
            <li><a href="">Free 3D Models </a></li>
            <li><a href="">Premium 3D Models </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<section class="btm-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12">
        <div class="footerup text-start my-2">
          <a href="">© 2023 Copyright: dewood3D.com</a>
        </div>
      </div>
      <div class="col-lg-6 col-12 col-md-12">
        <div class="footerup text-end">
          <ul class="my-2">
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Faq</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
