.main-item{
    color: #D3D3D3;
    font-size: 36px;
    font-style: italic;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 100%;
}
