<nav class="navbar navbar-expand-lg  bg-light p-0">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/dashboard/logo2.png" alt=""></a>
    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            3D Models
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Building</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Airports</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Temple</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Stadium</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Clubs</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Coffe shop</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" href="#">Shopping mall</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Character</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link  " aria-current="page" href="#">Blog</a>
        </li>

      </ul>

      <form *ngIf="!isSignedIn" class="d-flex  btn-box mx-2">
        <button class="btn cus-btn shadow-none" routerLink="/login">LogIn</button>

      </form>
      <ul class="navbar-nav" (click)="showItem()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >
            <!-- //data-bs-toggle="modal" data-bs-target="#staticBackdrop" -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="25" height="25"
              fill="#f89e52">
              <path
                d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
            </svg>
            <div style="font-size: 10px;" class="badge bg-danger">{{noOfProduct}}</div>

          </a>


        </li>
      </ul>
      <div *ngIf="isLoggedIn" class="dropdown">
        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person"
            viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
          </svg>
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">My Account</a></li>
          <hr>
          <li><a class="dropdown-item" href="#">Downloads</a></li>
          <hr>
          <li><a class="dropdown-item" (click)="orderBtn()" >Order History</a></li>
          <hr>
          <li><a class="dropdown-item" href="#">Support</a></li>
          <hr>
          <li><a class="dropdown-item" (click)="Logout()">Logout</a></li>
          <hr>
          <li><a class="dropdown-item" href="#">Sell Your 3D Models</a></li>
          <hr>
          <li><a class="dropdown-item" href="#">New Artist Checklist</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
 >
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header p-2">
      <h5 class="modal-title" id="staticBackdropLabel" style="color:rgb(138, 138, 138);">Add to Cart</h5>
      <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div *ngIf="cartDetail && cartDetail.length >0" class="modal-body">
      <div class="container">
        <div class="row my-2">
          <div class="col-12">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-box">
              <div class="row">
                <div *ngFor="let item of cartProductImages" class="col-12 col-md-6 col-sm-6">
                  <div class="card cus-product-card">
                    <div class="product-img">
                      <img [src]="item.productUrl" class="img-fluid" alt="no image found">
                    </div>
                    <div class="price-box text-center">
                      <div class="addToCardDesign">
                        <h5 class="title">{{item.name}}</h5>
                        <span> ${{item.price}} </span>
                      </div>
                      <div class="cartbtn">


                        <button class="btn btn-success">Buy Now</button>
                        <button><i class="fa-solid fa-trash" (click)="deleteItem(item._id)"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-prce">
          <div class="row">
            <div class="col-6">
              <div class="footer-prc-box">
                <p> {{noOfProduct}} Item</p>
              </div>

            </div>
            <div class="col-6 text-end">
              <div class="footer-prc-box">
                <!-- <p>Total <span>${{ getTotalValue() }}</span>USD</p> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="isSignedIn" type="button"  routerLink="buy-product" class="btn btn-p">Buy Now</button>
        <!-- <button *ngIf="isLoggedIn" type="button" (click)="routerToLogin()" class="btn btn-p">Log in to Purchase</button> -->
      </div>
    </div>
    <div *ngIf="cartDetail == undefined || cartDetail.length == 0" class="modal-body">
      <div class="container">
        <div class="row my-2">
          <div class="col-12 emptyCartData">
            <h2 >Your cart is empty!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
